@model Ejercicio12.Models.Persona
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="Create" method="post">
        <h1>nombre:</h1>
        <input asp-for="Nombre">
        <span asp-validation-for="Nombre"></span>
        <h1>Edad: </h1>
        <input asp-for="Edad">
        <span asp-validation-for="Edad"></span>
        <button type="submit">SUBIR NYA~</button>
    </form>
    
    @section Scritps{
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>