@model Ejercicio4.Models.Student
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Formulario de Estudiante</h1>

    <form asp-action="Create" method="post">
        <div>
            <label for="id">ID:</label>
            <input asp-for="id" />
        </div>
        <div>
            <label for="name">Nombre:</label>
            <input asp-for="name" />
         
        </div>
        <div>
            <label for="age">Edad:</label>
            <input asp-for="age" />
        </div>
        <div>
            <label for="course">Curso:</label>
            <input asp-for="course" />
        </div>
        <button type="submit">Enviar</button>
    </form>

</body>

</html>