@model Ejercicio4.Models.Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <h1>Detalle del estudiante</h1>

<ul>
    <li><strong>ID:</strong> @Model.id</li>
    <li><strong>Nombre:</strong> @Model.name</li>
    <li><strong>Edad:</strong> @Model.age</li>
    <li><strong>Curso:</strong> @Model.course</li>
</ul>
    
</body>
</html>