@model Ejercicio7.Models.Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>producto creado</h2>
    <p>arigato NYAAAA >:< </p>
    <a asp-action="Create"> Volver al formulario</a>

    
</body>
</html>