@model Ejercicio3.Models.Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>id: @Model.Id</h1>
<h1>nombre: @Model.Name</h1>
<h1>edad: @Model.Age</h1>
<h1>curso: @Model.Course</h1>
</body>
</html>